@font-face {
  font-family: "Pokemon";
  src: url("font.ttf") format("truetype");
}

body {
  font-family: "Arvo", serif;
  background-color: #7dad71;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #356abd;
}

h1 {
  color: #ffcd00;
  font-family: "Pokemon";
  -webkit-text-stroke: 2px #356abd;
  font-weight: bolder;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.pokeCard {
  border: 5px solid #ffcd00;
  border-radius: 10px;
  position: relative;
}

.pokeCard::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("pokemonCardBackgroundGray.png");
  background-size: cover;
  opacity: 0.4;
}

img.poke {
  background-color: white;
}

.badge {
  color: white;
  margin: 0px 1px;
}

.electric {
  background-color: #eed535;
}

.grass {
  background-color: #9bcc50;
}

.poison {
  background-color: #b97fc9;
}

.water {
  background-color: #4592c4;
}

.flying {
  background: linear-gradient(#3dc7ef 50%, #bdb9b8 50%);
}

.bug {
  background-color: #729f3f;
}

.fire {
  background-color: #fd7d24;
}

.normal {
  background-color: #a4acaf;
}

.ground {
  background: linear-gradient(#f7de3f 50%, #ab9842 50%);
}

.fairy {
  background-color: #fdb9e9;
}

.fighting {
  background-color: #d56723;
}

.psychic {
  background-color: #f366b9;
}

.rock {
  background-color: #a38c21;
}

.steel {
  background-color: #9eb7b8;
}

.ice {
  background-color: #51c4e7;
}

.ghost {
  background-color: #7b62a3;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.currency {
  width: 20px;
}
.sidebar {
  justify-items: center;
}

.background {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgb(255, 255, 255)),
    url("http://i67.tinypic.com/2vd1ndg.png");
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  height: 60px;
  background: linear-gradient(#356abd, rgb(255, 255, 255));
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: #ffcd00;
}

.header {
  background-image: url("background.jpg");
  /* background-size: cover; */
  background-position: 0 63%;
  margin-bottom: 50px;
  height: 200px;
}

.header .logo {
  position: relative;
  top: 140px;
  left: 50px;
  z-index: 1;
}

.header .cloud1 {
  background-image: url("cloud1.png");
  background-size: contain;
}

.header .cloud2 {
  background-image: url("cloud2.png");
  background-size: contain;
}

.header .cloud3 {
  background-image: url("cloud3.png");
  background-size: cover;
}

.page-header link {
  border: none;
  background-color: white;
}

.flex {
  display: flex;
}

.container-body {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid #356abd;
}

.top-nav {
  position: absolute;
  right: 0px;
  top: 130px;
  z-index: 1;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

.search {
  border-radius: 10px;
  margin: 0 auto;
  background-color: #7dad71;
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 50px;
}

.top-nav-button {
  border: none;
  background-color: #7dad71;
  border-radius: 10px 10px 0 0;
  margin: 0 10px 0 10px;
  height: 60px;
  padding: 20px;
}

.top-nav-button a {
  color: white;
}

.top-nav-button a:hover {
  color: #ffcd00;
}

.top-nav-button .cart-icon {
  width: 35px;
}

.top-nav-button .cart-quantity {
  position: relative;
  right: 16px;
  bottom: 20px;
  font-weight: 700;
  color: #ffcd00;
  font-size: 18px;
}

#Type {
  font-size: 30px;
  width: 100%;
}

.review {
  padding: 20px 0 20px 0;
}

.pagination-centered {
  align-content: center;
}
.inline-display {
  display: inline;
}

.btn-info {
  background-color: #356abd;
  border: 1px solid #7dad71;
}

.btn-info:hover {
  background-color: #ffcd00;
  border: 1px solid #7dad71;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  background-color: #ffcd00;
  border: 1px solid white;
}

.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgb(190, 190, 190);
}

.margin-bottom {
  margin-bottom: 50px;
}

.home .option .center {
  margin: auto;
}

.order {
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #356abd;
}

.order p {
  margin-bottom: 0;
}

.container .padding {
  padding: 20px;
}

.order .specs {
  background-color: #356abd;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
}

.order-img {
  width: 100px;
  margin: 20px;
}

.order .body {
  padding: 20px;
}

.progress {
  border-radius: 10px;
  height: 30px;
}

.progress-bar {
  background-color: #ffcd00;
  width: 80%;
  font-size: 20px;
  height: 30px;
  border-radius: 10px;
}
