body {
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.pokeCard {
  border: 5px solid gold;
  border-radius: 15px;
  position: relative;
}

.pokeCard::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("pokemonCardBackgroundGray.png");
  background-size: contain;
  opacity: 0.4;
}

img.poke {
  background-color: white;
}

.badge {
  color: white;
  margin: 0px 1px;
}

.electric {
  background-color: #eed535;
}

.grass {
  background-color: #9bcc50;
}

.poison {
  background-color: #b97fc9;
}

.water {
  background-color: #4592c4;
}

.flying {
  background: linear-gradient(#3dc7ef 50%, #bdb9b8 50%);
}

.bug {
  background-color: #729f3f;
}

.fire {
  background-color: #fd7d24;
}

.normal {
  background-color: #a4acaf;
}

.ground {
  background: linear-gradient(#f7de3f 50%, #ab9842 50%);
}

.fairy {
  background-color: #fdb9e9;
}

.fighting {
  background-color: #d56723;
}

.psychic {
  background-color: #f366b9;
}

.rock {
  background-color: #a38c21;
}

.steel {
  background-color: #9eb7b8;
}

.ice {
  background-color: #51c4e7;
}

.ghost {
  background-color: #7b62a3;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.currency {
  width: 20px;
}
.sidebar {
  justify-items: center;
}

.background {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgb(255, 255, 255)),
    url("https://i.pinimg.com/originals/06/5e/5e/065e5e9239f7d492dc3d64e57e84d6ed.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  height: 60px;
  background: linear-gradient(#356abd, rgb(255, 255, 255));
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: #ffcd00;
}

.header {
  font-style: italic;
  display: inline;
  padding: 15px;
}

.page-header {
  padding: 20px;

  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)),
    url("https://i.pinimg.com/originals/06/5e/5e/065e5e9239f7d492dc3d64e57e84d6ed.jpg");
  background-size: cover;
  background-color: #f2f295;

  width: 100%;
}

.page-header .logo {
  position: relative;
  top: 50px;
  left: 20px;
  z-index: 1;
}

.page-header link {
  border: none;
  background-color: white;
}

.flex {
  display: flex;
}

.top-nav {
  position: absolute;
  right: 0px;
  top: 83px;
  z-index: 1;
}

.search-container {
  margin: 20px;
}

.search {
  margin: 0 auto;
}

.top-nav-button {
  border: none;
  background-color: #356abd;
  border-radius: 15px 15px 0 0;
  margin: 0 10px 0 10px;
  height: 60px;
  padding: 20px;
}

.top-nav-button a {
  color: white;
}

.top-nav-button a:hover {
  color: #ffcd00;
}

.top-nav-button .cart-icon {
  width: 35px;
}

.top-nav-button .cart-quantity {
  position: relative;
  right: 16px;
  bottom: 20px;
  font-weight: 700;
  color: #ffcd00;
  font-size: 18px;
}

#Type {
  font-size: 30px;
  width: 100%;
}

.review {
  padding: 20px 0 20px 0;
}

.pagination-centered {
  align-content: center;
}
.inline-display {
  display: inline;
}

.btn-info {
  background-color: #356abd;
}

.btn-info {
  background-color: #356abd;
  border: none;
}

.btn-info:hover {
  background-color: #ffcd00;
  border: none;
}
