body {
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.pokeCard {
  border: 5px solid gold;
  border-radius: 15px;
  position: relative;
}

.pokeCard::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("pokemonCardBackgroundGray.png");
  background-size: contain;
  opacity: 0.4;
}

img.poke {
  background-color: white;
}

.badge {
  color: white;
  margin: 0px 1px;
}

.electric {
  background-color: #eed535;
}

.grass {
  background-color: #9bcc50;
}

.poison {
  background-color: #b97fc9;
}

.water {
  background-color: #4592c4;
}

.flying {
  background: linear-gradient(#3dc7ef 50%, #bdb9b8 50%);
}

.bug {
  background-color: #729f3f;
}

.fire {
  background-color: #fd7d24;
}

.normal {
  background-color: #a4acaf;
}

.ground {
  background: linear-gradient(#f7de3f 50%, #ab9842 50%);
}

.fairy {
  background-color: #fdb9e9;
}

.fighting {
  background-color: #d56723;
}

.psychic {
  background-color: #f366b9;
}

.rock {
  background-color: #a38c21;
}

.steel {
  background-color: #9eb7b8;
}

.ice {
  background-color: #51c4e7;
}

.ghost {
  background-color: #7b62a3;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.currency {
  width: 20px;
}
.sidebar {
  justify-items: center;
}

.navbar {
  background-color: #e3f2fd;
  border-radius: 5px;
}

.logo-ball {
  width: 100px;
  position: absolute;
  left: 550px;
  z-index: 0;
}

.header {
  font-style: italic;
  display: inline;
  padding: 15px;
}

.page-header {
  padding: 20px;
  background-color: #f2f295;
}

.page-header .logo {
  padding-left: 40px;
}

.login {
  border: 2px solid #4288ba;
  padding: 2px 10px;
  border-radius: 5px;
}

.search-container {
  margin: 20px;
}

.search {
  margin: 0 auto;
}

.cart-icon {
  width: 35px;
  margin-right: 20px;
}

.nav-cart {
  position: relative;
}

.quantity-count {
  position: absolute;
  right: 16px;
  bottom: 28px;
  font-weight: 700;
  color: #ff890e;
  font-size: 18px;
}

.home .option {
  margin: 25px;
  border: 1px solid lightgray;
  width: 50%;
}
